html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/*Para mobile first se hace desde el tamaño pequeño8mobile) hasta grande
(conforme la pantalla va creciendo)*/

@media (min-width:992px) {
    /*cuado la pantalla se hace grande la imagen se hace pequeña*/
    .entrada-blog {
        width: 500px;
        /*display inline -> horizontal ; display bloc -> vertical*/
        display: block;
        /*centrado de imagen*/
        margin: 0 auto;
    }
}