body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    /*imagen responsive*/
    max-width: 100%;
}


/*se recomienda usar clases antes que ids, los ultimos hacen mas lento el mostrar
 el html y mas pesada la hoja de estilos*/

.site-header {
    padding: 20px 0;
}

.contenedor {
    max-width: 1200px;
    /*se recomienda centrar asi los layouts*/
    margin: 0 auto;
}


/** Navegacion **/

.barra {
    background-color: #db008b;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    /*display block los pone uno debajo del otro*/
    display: block;
    /*centrados*/
    text-align: center;
    padding: 20px;
}

@media(min-width: 768px) {
    /*en mobile first los estilos se van heredando, cambiamos solo p/pantalla grande*/
    .navegacion-principal a {
        /*deja aplicar estilos hacia ese selector*/
        display: inline-block;
        margin-right: 20px;
    }
}

.navegacion-principal a:hover {
    background-color: #00b8e4;
}