/**snippet paul irish permite que cuando se aplica padding o border no afecte el tamaño
del elemento principal**/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/** Globales **/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    /*imagen responsive*/
    max-width: 100%;
}

p {
    font-size: 16px;
    line-height: 2;
}


/*se recomienda usar clases antes que ids, los ultimos hacen mas lento el mostrar
 el html y mas pesada la hoja de estilos*/

.boton {
    background-color: #00b8e4;
    padding: 10px 60px;
    /*permite agregar un margin*/
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    /*le da uns efecto de transiscion*/
    /*en donde lo queremos dar, tiempo, tipo*/
    transition: background-color .3s ease-in-out;
}

.boton:hover {
    background-color: #0296bb;
}

.site-header {
    padding: 20px 0;
}

.contenedor {
    max-width: 1200px;
    /*se recomienda centrar asi los layouts*/
    margin: 0 auto;
    /*arregla el problema de los float y el acomodo de los elementos en el contenedor*/
    /*overflow: hidden;*/
}

.clearfix::after {
    /*clearfix limpia el float*/
    /*para after y before se usa content siempre*/
    content: '';
    clear: both;
    /*se usa display block o display table*/
    display: block;
}


/** Navegacion responsive **/

.barra {
    overflow: hidden;
}

.mobile-menu {
    color: #fff;
    font-size: 2rem;
    /*centramos el icono con estas 2 propiedades*/
    text-align: center;
    display: block;
    padding: 20px 0;
}

#nav:target {
    max-height: 800px;
}

.navegacion-principal {
    max-height: 0;
    transform: .5s;
}

@media(min-width: 768px) {
    .navegacion-principal {
        /*ignora el max-height de ahora en adelante*/
        max-height: unset;
    }
    .mobile-menu,
    .cerrar {
        display: none!important;
    }
}


/** Navegacion **/

.barra {
    background-color: #db008b;
    margin-top: 40px;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    /*display block los pone uno debajo del otro*/
    display: block;
    /*centrados*/
    text-align: center;
    padding: 20px;
}

@media(min-width: 768px) {
    /*en mobile first los estilos se van heredando, cambiamos solo p/pantalla grande*/
    .navegacion-principal a {
        /*deja aplicar estilos hacia ese selector*/
        display: inline-block;
        margin-right: 20px;
    }
}

.navegacion-principal a:hover {
    background-color: #00b8e4;
}


/** Contenedores principales **/

.contenido-principal {
    margin-top: 40px;
}

.contenido-principal,
.sidebar {
    padding: 20px;
}

@media(min-width: 769px) {
    .contenido-principal {
        /**cuando se usan float debe completarse el espacio total del contenedor**/
        width: 70%;
        float: left;
        padding: 0 60px 0 0;
    }
    .sidebar {
        /**usar porcentajes permite cierto responsive y que se ajuste mas facil**/
        width: 30%;
        float: right;
        padding: 0;
        margin-top: 40px;
    }
}


/**Entradas de bloc**/

h2 {
    color: #00b8e4;
    margin-bottom: 20px;
}

.entrada {
    margin-bottom: 60px;
}

.entrada:last-of-type {
    margin-bottom: 0;
}

.entrada img {
    /*las imagenes por default son display inline*/
    display: block;
}

@media(min-width: 480px) {
    .entrada img {
        width: 300px;
        /*con este float hacemos que la imagen fluya hacia la izquierda y el texto der*/
        float: left;
        margin: 0 30px 0 0;
    }
}

.entrada p {
    text-align: justify;
}


/** sidebar **/

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #00b8e4;
}

.sidebar li a {
    color: #00b8e4;
    font-size: 18px;
    text-decoration: none;
}

.sidebar ul li:hover a {
    color: #fff;
}

.footer-sitio {
    background-color: #db008b;
    padding-top: 10px;
    margin-top: 60px;
    color: #fff;
    text-align: center;
}

.footer-sitio h2 {
    color: #fff;
}

.footer-sitio a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;
}

.footer-sitio a:last-of-type {
    /*quitamos el margin right del ultimo elemento de la lista*/
    margin-right: 0;
}

@media(min-width: 768px) {
    .footer-sitio .nosotros {
        /*lo mandamos a la izquierda*/
        float: left;
        width: 30%;
        /*mandamos el texto en pantalla grande a la izquierda
        paara que no aparezca centrado*/
        text-align: left;
    }
    .footer-sitio .menu {
        /*mandamos este texto a la derecha*/
        float: right;
        width: 50%;
        /*mandamos el texto en pantalla grande a la derecha
        paara que no aparezca centrado*/
        text-align: right;
    }
}

.copyright {
    background-color: #b10474;
    margin: 50px 0 0 0;
    padding: 20px 0;
}