/*pseudolementos si inician con :*/

:root {
    /*root almacena las variables conocidas como custom properties*/
    --blanco: #fff;
    --oscuro: #212121;
    /*colo primario el que mas se va a utilziar*/
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    /*reiniciamos el tamaño a 62.5% -> 1rem = 10px*/
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}


/*especificidad -> etiqueta(min) / .clase etiqueta(mediano) / etiqueta.clase etiqueta(grande)*/

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    /*si hay espacio disponible toma 120rem si no, toma el maximo posible*/
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}


/*
480px telefono
768px tablet
1140 pc escritorio
1400 mas grande
*/

@media( min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
/*para posicionar el hijo fijo, el padre siempre debe ser relative*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    /*padding: 20px;quitamos el padding para que tome todo el espacio*/
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);/*la forma antigua*/
    /*esta forma aun no es soportada en todos los navegadores, se recomienda usar ambas*/
    background-color: rgb(0, 0, 0 / 70%);
    height: 100%;
    width: 100%;

}


/*}
background-image: url(../img/hero.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 250px;
padding: 20px;

}

}*/